body {
  margin: 0 auto;
}

/* HEADER */

.header {
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
}

.container {
  margin: 0px 166px;
}

.header-line {
}

.header-logo {
}

/* HEADER */